*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}    

.container {
    width: 100%;
    height: 100vh;
    background: #ffe3e3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;

}

.calendar {
    width: 150px;
    height: 150px;
    background: #ffffff7e;
    color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    z-index: 10; /* Valeur plus élevée pour être au premier plan */
    position: absolute;
    left: 20px; /* Ajustez la position par rapport à gauche */
    top: 20px; /* Ajustez la position par rapport au haut */
}

.left, .right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
}

.right{
    width: 42%;
    background: rgba(5, 5, 5, 0.57);
    color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left{
    width: 58%;
}
.container h1{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 90px;
    font-weight: 600;
    letter-spacing: 3px;
}

.quotes{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 15%;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.quotes h2{
    font-size: 30px;
    margin-top: 10px;
    font-weight: 500;
    font-style: italic;
}


/* Style de la barre de recherche */
#search {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%; /* Largeur ajustée */
    max-width: 400px; /* Largeur maximale */
}

input[type="text"] {
    width: calc(100% - 80px); /* Largeur ajustée pour l'input */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    font-size: 14px; /* Taille de police réduite */
}

input[type="text"]:focus {
    border-color: #2c2a2c; /* Couleur lorsque l'input est focus */
}

input[type="submit"] {
    background-color: #252323;
    color: white;
    border: none;
    padding: 8px 12px; /* Taille du bouton ajustée */
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px; /* Taille de police réduite */
    margin-left: 6px; /* Ajustement pour l'espacement entre l'input et le bouton */
}

input[type="submit"]:hover {
    background-color: #00000071; /* Couleur au survol */
}
