* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  cursor: url(images/cursor.png), auto;
}

@font-face {
  font-family: "LemonMilk";
  src: url("lemon-milk/LEMONMILK-Light.otf") format("opentype");
  }

/* Style du conteneur principal */

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Style du titre et synopsis des films */

#movieDatas {
  max-width: 30%;
  position: absolute;
  padding: 2%;
  bottom: 2%;
  right: 5%;
  cursor: pointer;
}

#movieDatas h1 {
  max-height: 100%;
  font-size: 1.2rem;
  text-align: center;
  align-items: center;
  font-family: 'LemonMilk', sans-serif;
  padding: 3%;
  background: linear-gradient(135deg, #fa84f866 50%, #bd84ff6f 100%);
  backdrop-filter: blur(10px);
  font-size: 1em;
  letter-spacing: 0.1em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
}

#movieDatas p {
  font-size: 0.8rem;
  padding: 4%;
  cursor: pointer;
}

.search-button {
  padding: 2%;
  cursor: pointer;
}

.box {
  background: rgba(255, 255, 255, 0);
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(90px);
  border-radius: 12px;
  color: rgb(255, 255, 255);
  overflow: hidden;
  transition: all 0.2s linear;
  cursor: pointer;
}

.box:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
}

/* Style de l'horloge */

.clock {
  color: white;
  text-shadow :rgb(0, 0, 0);
  position: absolute;
  z-index: 2;
  font-size: 1.5em;
  font-weight: 50px;
  font-family: 'LemonMilk', sans-serif;
  justify-content: right;
  right: 2%;
  padding: 0 1% 0;
  top: 10%;
  transition: all 0.2s linear;
}

.clock:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
  cursor: pointer;
}

/* Style du calendrier */

.calendar {
  width: 150px;
  height: 30px;
  background: linear-gradient(135deg, #fa84f866 50%, #bd84ff6f 100%);
  color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  z-index: 2;
  position: absolute;
  transition: all 0.2s linear;
  backdrop-filter: blur(10px);
  right: 2%;
  top: 2%;
  cursor: pointer;
}

.calendar:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
  cursor: pointer;
}

/* Style des parties gauche et droite du calendrier */

.left,
.right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

/* Style de la partie droite du calendrier */

.right {
  width: 40%;
  background: rgba(0, 0, 0, 0.19);
  color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Style de la partie gauche du calendrier */

.left {
  width: 60%;
  padding-right: 5px; /* Ajouter un espacement à droite */
}

/* Style du titre principal */

.container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 90px;
  font-weight: 600;
  letter-spacing: 3px;
}

/* Icone de recherche */

.iconsearch {
  position: absolute;
  align-items: center;
  height: 30px;
  width: 30px;
}

/* Style de la barre de recherche */

#search {
  width: 90%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translateX(-50%);
}

/* Style de l'input texte de la barre de recherche */

input[type="text"] {
  width: calc(70%);
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ffffff;
  border-radius: 40px;
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  cursor: auto;
}

/* Style de l'input texte de la barre de recherche lorsqu'il est focus */

input[type="text"]:focus {
  border-color: #fc29f8a5;
}

/* Style du bouton de la barre de recherche */

input[type="submit"] {
  background-color: #252323;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 12px;
  border-radius: 40px;
  cursor: auto;
  font-size: 14px;
  margin-left: 6px;
  cursor: pointer;
}

/* Style du bouton de la barre de recherche au survol */

input[type="submit"]:hover {
  background-color: #00000071;
}

/* Style d'une forme en ligne */

.inline-form {
  display: inline-block;
}

/* Changement du fond d'écran*/

#changeBackground {
  background: linear-gradient(120deg, #fbc2eb 0%, #acc9fb 100%);
  border: 1px solid white; /* Ajoute une bordure blanche */
  border-radius: 20px;
  padding: 5px;
  color: white;
  font-size: 12px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  transition: all 0.2s linear;
}

#changeBackground:hover {
  background: linear-gradient(120deg, #a6c1ee 0%, #fbc2eb 100%);
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
}

/* Musique */

#playButton {
  position: fixed;
  max-width: 30%;
  max-height: 7%;
  bottom: 2%;
  left: 2%;
  transition: all 0.2s linear;
  cursor: pointer;
}

#playButton:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
  cursor: pointer;
}

#audioPlayer {
  position: absolute;
  bottom: 2%;
  left: 2%;
  margin: 0;
  max-width: 1000px;
}

/* Style de la météo */

.card {
  max-width: 20%;
  background: linear-gradient(135deg, #fa84f866 50%, #bd84ff6f 100%);
  backdrop-filter: blur(10px);
  color: #fff;
  border-radius: 10px;
  padding: 2%;
  text-align: center;
  top: 20px;
  left: 2%;
  font-size: 0.7rem;
  position: fixed;
  transition: all 0.2s linear;
  cursor: pointer;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
  cursor: pointer;
}

/* Style de la zone de recherche de la carte météo */
.search {
  width: 100%;
  height: 20px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input::placeholder {
  color: white;
}

/* Style de l'input de recherche de la carte météo */
.search input {
  border: 0;
  outline: 0;
  background: transparent;
  color: #ffffff;
  padding: 3px 5px;
  height: 27px;
  border-radius: 15px;
  flex: 1;
  margin-right: 8px;
  font-size: 13px;
  width: 80%;
}

.search button {
  border: 0;
  outline: 0;
  background: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.search button:hover {
  background: #ff0073;
}

.search button img {
  width: 8px;
}

.weather-icon {
  width: 50px;
  margin-top: 7px;
  cursor: pointer;
}

.weather h1 {
  font-size: 1rem;
  font-weight: light;
  margin-top: -5px;
  cursor: pointer;
}

.weather {
  display: none;
}

.error {
  text-align: left;
  margin-left: 5px;
  font-size: 7px;
  margin-top: 5px;
  display: none;
}

/* Style de la to do list */

.todo-app {
  max-width: 40%;
  max-height: 60%;
  padding: 2%;
  border-radius: 10px;
  justify-content: center;
  align-items: left;
  left: 2%;
  bottom: 15%;
  background: linear-gradient(135deg, #fa84f866 50%, #bd84ff6f 100%);
  backdrop-filter: blur(10px);
  transition: all 0.2s linear;
  position: absolute;
  cursor: pointer;
}

.todo-app:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
}

.row {
  display: flex;
  color: white;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
  cursor: pointer;
}

#input-box {
  max-width: 90%;
  color: rgb(255, 255, 255);
  background: transparent;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 2%;
  font-weight: 14px;
}

#input-box::placeholder {
  color: white;
}

#myBtn {
  border: none;
  outline: none;
  padding: 4%;
  background: white;
  color: #4b4646;
  font-size: 0.9rem;
  font-weight: light;
  border-radius: 40px;
  cursor: pointer;
}

#myBtn:hover {
  background: #ff0073;
}

ul li {
  list-style: none;
  font-size: 0.9rem;
  padding: 12px 8px 5px 40px;
  user-select: none;
  color: rgb(255, 255, 255);
  position: relative;
  cursor: pointer;
  border-radius: 40px;
}

ul li::before {
  content: "";
  position: absolute;
  width: 7%;
  height: 37%;
  border-radius: 50%;
  background-image: url(images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 43%;
  left: 5%;
  cursor: pointer;
}

ul li.checked {
  color: #e60c51;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(images/checked.png);
}

ul li span {
  position: absolute;
  right: 0%;
  width: 10%;
  height: 50%;
  font-size: 20px;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

ul li span:hover {
  background: #ff0073;
  width: 10%;
  height: 50%;
}

