*{
    margin: 0px;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}    

#container{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clock{
    width: 100px;
    height: 80px;
    background: rgba(86, 81, 83, 0.095);
    color: white;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    z-index: 8; /* Valeur plus élevée pour être au premier plan */
    justify-content: center;
    backdrop-filter: blur(50px);
    left: 20px; /* Ajustez la position par rapport à gauche */
    top: 220px; /* Ajustez la position par rapport au haut */

}

.clock span{
    font-size:13px;
    width : 10px;
    display : inline-block;
    text-align: center;
    position: relative;
} 

.clock span::after{
    font-size: 5px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform : translateX(-50%);
}

#hrs::after{
    content: 'HOURS';
}

#min::after{
    content: 'MINS';
}

#sec::after{
    content: 'SEC';
}

.calendar {
    width: 150px;
    height: 100px;
    background: #ffffff2b;
    color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 10px;
    z-index: 9; /* Valeur plus élevée pour être au premier plan */
    position: absolute;
    backdrop-filter: blur(50px);
    left: 20px; /* Ajustez la position par rapport à gauche */
    top: 100px; /* Ajustez la position par rapport au haut */
}

.left, .right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
}

.right{
    width: 50%;
    background: rgba(5, 5, 5, 0.356);
    color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.left{
    width: 50%;
}
.container h1{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 90px;
    font-weight: 600;
    letter-spacing: 3px;
}


.quotes{
    width: 100%;
    position: absolute;
    text-align: right;
    bottom: 40px;
    right: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;

}

.quotes h2{
    font-size: 12px;
    margin-top: 10px;
    font-weight: 100;
    font-style : italic;
}

/* Style de la barre de recherche */
#search {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80%; /* Largeur ajustée */
    max-width: 400px; /* Largeur maximale */
    z-index: 10; /* Valeur plus élevée pour être au premier plan */

}

input[type="text"] {
    width: calc(50%); /* Largeur ajustée pour l'input */
    padding: 8px;
    background-color: rgba(69, 57, 57, 0.473);
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    font-size: 14px; /* Taille de police réduite */
}

input[type="text"]:focus {
    border-color: #7f7a7f; /* Couleur lorsque l'input est focus */
}

input[type="submit"] {
    background-color: #252323;
    color: white;
    border: none;
    padding: 8px 12px; /* Taille du bouton ajustée */
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px; /* Taille de police réduite */
    margin-left: 6px; /* Ajustement pour l'espacement entre l'input et le bouton */
}

input[type="submit"]:hover {
    background-color: #00000071; /* Couleur au survol */
}

.inline-form{
    display: inline-block;
}